{% extends "layout.html" %}

{% block content %}

<h2><b>About The Project</b></h2>

<div class="row">
    <div class="col-md-8">
        <p>
            My name is Illay Sasson, and I'm a grade 10 Computer Science student in Tichonet. This is a project that was given to us in a Data Science course, and it's
            a part of our final project, which has a 30% volume in our final grade in Computer Science. In this project we were instructed to find datasets
            that interest us and analyze them in a Flask website.<br />
            <u>The project is based on the following technological tools: </u> <br />
            <ul>
                <li><a href="https://www.python.org/" class="externalLink" target="_blank">Python</a></li>
                <li><a href="https://pandas.pydata.org/" class="externalLink" target="_blank">Pandas</a></li>
                <li><a href="https://www.fullstackpython.com/flask.html" class="externalLink" target="_blank">Flask</a></li>
            </ul>
            We were encouraged to use these tools because they're popular in the current data science industry, and they provide us with knowledge and experience that will be very helpful
            in the future if we wish to continue in coding related paths. We were also encouraged to study these tools by ourselves, so websites like W3Schools and Stack Overflow were
            a huge help during the entire project.
            <br />
            <br />
            For this project, I chose to research the topic of <b>"Happiness & The Internet"</b>. I spend most of my time on the internet, whether it's talking with my friends on Whatsapp, playing
            video games or scrolling through Instagram. I read many articles about how the internet affects our happiness and the dangers surrounding it, and I wanted to give
            my own take on the subject. So after I found a dataset with counts of Internet users all around the world, I decided to compare it to the World Happiness Report and suicide rates,
            to see how they're all being affected by the internet users count.
        </p>
    </div>
    <div class="col-md-2" style="margin:auto">
        <img src="../static/images/python.png" width="330" height="350">
    </div>
</div>

{% endblock %}
