{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Happiness & The Internet</h1>
    <p class="lead">
        The internet has been around for a while, and although it was always considered a good thing, there's a good possibility that it's not.
        While it does give us endless possibilites for things like communication and entertainment, it also damages communication in real life and opens a door
        to things like bullying and cybercrimes. So -  is the internet really the best thing that happened to humanity or does it lead to unhappiness?
    </p>
    <p><a href="{{ url_for('data_model') }}" class="btn btn-primary btn-large" id="myButton">Data Model &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Dangers of the Internet</h2>
        <p>
            The internet can be really dangerous. Some people see it as a way to bully, con or abuse
            others. Cybercrime is also a common feature of the internet. While the internet may seem innocent on the outside,
            there are places like the darkent, websites that are unsupervised and unmonitored which is always a recipe for disaster. Internet safety
            is one the most important things to keep in mind while browsing the internet, which is why its being taught around the world all the time.
        </p>
        <img src="../static/images/darknet.jpg" width="300" height="200">
        <br />
        <br />
        <p><a class="btn btn-default" id="myButton" href="https://internetsafety101.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>My Resources</h2>
        <p>
            In this project, the main 3 technological tools I used to complete this project are Python, Pandas and Flask. All are tools
            recommended to us by our Data Science teachers, because they are popular and helpful tools in the current industry. In our class we were
            encouraged to learn these tools by ourselves, so websites like Stack Overflow and W3Schools. For my datasets, I mainly used kaggle to help
            locate interesting datasets, among other websites.
        </p>
        <img src="../static/images/data.jpg" width="300" height="200">
        <br />
        <br />
        <p><a class="btn btn-default" id="myButton" href="{{ url_for('about') }}">Learn more &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
